:root {
    --color-text: #212121;
    --color-background: #ffffff;

    --color-primary: #4caf50;
    --color-default: #1867c0;
    --color-info:#fb8c00;
    --color-error: #ff5252;
    --color-secondary: #5cbbf6;

    --color-disabled-background:#D3D3D3;
    --color-disabled-text: #818589;

    // --media-md: 1280px;
    // --media-sm: 768px;
    // --media-xs: 425px;
}